KW: <%=
    select_tag(
            'week',
            options_for_select(@available_weeks, @current_week),
            :onchange => 'change_period()',
            :id => 'week'
    )
%>
Jahr: <%=
    select_tag(
            'year',
            options_for_select(@available_years, @current_year),
            :onchange => 'change_period()',
            :id => 'year'
    )
%>

<table>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Montag</th>
    <th>Dienstag</th>
    <th>Mittwoch</th>
    <th>Donnerstag</th>
    <th>Freitag</th>
    <th>Samstag</th>
    <th>Sonntag</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <% even_row = true %>
  <% @report.each do |calendar_row| %>
      <% even_row = !even_row %>
      <tr class="<%= even_row ? 'even' : 'odd' %>_row">
        <td class="report_title"><%= calendar_row[0] %></td>
        <% calendar_row[1].each do |cell| %>
            <td class="report_cell"><%= Time.at(cell).utc.strftime("%H:%M") %></td>
        <% end %>
      </tr>
  <% end %>
    <tr>
      <td>&nbsp;</td>
      <% 0.upto(6) do |i| %>
        <td><%= Time.at(@statistic_for_days[i]).utc.strftime("%H:%M") %></td>
      <% end %>
    </tr>
  </tbody>
</table>

